<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data/favicon.ico">
    <title>Study Languages</title>
    <base href="<%= baseUrl %>">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container">
        <section class="table-responsive">
            <label id="study">Số lần học: <span id="so-lan-hoc">10</span> ĐÚNG : <span id="check-ok">3</span> SAI :
                <span id="check-not-ok">7</span></label>
            <h2 id="status-home" style="display: none;">Thêm dữ liệu mới</h2>
            <table class="home-check table table-borderless">
                <tr>
                    <td>
                        <textarea name="cau-1" id="cau-1" cols="30" rows="5" disabled></textarea>
                        <input type="hidden" name="res-cau-1" id="res-cau-1" />
                        <input type="hidden" name="id-cau" id="id-cau" />
                        <input type="hidden" name="index" id="index" />
                    </td>
                    <td width="110">
                        <button id="add-new" onclick="AddNew()">Thêm mới</button>
                        <button id="cancel-new" onclick="CancelAdd()" style="display: none;">Hủy bỏ</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label id="status"></label></td>
                </tr>
                <tr>
                    <td><textarea onkeypress="onTestChange()" name="cau-2" id="cau-2" cols="30" rows="5"></textarea></td>
                    <td>
                        <button id="check" onclick="UpdateData()">Kiểm tra</button>
                        <button id="help" onclick="HelpTest()">Trợ giúp</button>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <script>
        var data = JSON.parse('<%- JSON.stringify(data) %>');
        var eventUser = 'study';
    </script>
</body>

</html>