.home-check button {
    height: 35px;
    width: 100px;
    margin-bottom: 3px;
    cursor: pointer;
}

.home-check textarea {
    width: 100%;
    min-height: 35px;
}

label#study {
    font-weight: 600;
    margin: 15px 0px 0px 10px;
}

#study>span {
    margin-right: 25px;
    margin-left: 5px;
    font-size: 1.3em;
}
label#status {
    font-weight: 600;
    padding: 5px 10px;
    display: block;
}

.sai {
    color: red;
    background-color: antiquewhite;
}

.dung {
    color: green;
    background-color: greenyellow;
}